{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
  
        <div class="deals-tagline">
            <img src="/media/Deals_Logo.jpg" alt="deals picture" style="width:100%;">
        </div>     
        
        {% for deal in all_deals %}
        <div class="container">
          <div class="row">
            <div class="col">
              <h5 class="card-title">{{ deal.name }}</h5>
                <p class="card-text">{{ deal.price }}</p>
            </div>
            <div class="col">
              {% if deal.image %}
            <a href="{% url 'deals' %}">
                      <img class="card-img-top img-fluid" src="{{ deal.image.url }}" alt="{{ product.name }}">
                </a>
              {% endif %}
            </div>
          </div>
        {% endfor %}       


{% endblock %}