{% extends "base.html" %}
{% load static %}

{% block page_header %}
  
{% endblock %}

{% block content %}
    <div class="products-overlay">


   <div class="bag-container"> 
  <h1>Your Order Shopping Cart</h1>
 
            {% if cart_items %}
       <div class="cart-container">
         <h2>Cart</h2>
         <table>
           <thead>
             <tr>
            {% else %}
            <p class="lead mb-5">Your Cart is currently empty.</p>
                <a href="{% url 'products' %}">
             <th><strong>Price</strong></th>
            </a>
            <span class="text-uppercase">Continue with Ordering</span>
            {% endif %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Item</th>
                  <th scope="col">Size</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
            {% for item in cart_items %}
                  <td scope="row">{{ item.product.name }}</td>
                  <td>{{ item.product.size }}</td>
                  <td>£{{ item.product.price }}</td>
                  <td>{{ item.quantity }}</td>
                </tr>
            {% endfor %}
              </tbody>
            </table>
        </tr>
           </thead>
           <tbody id="carttable">
           </tbody>
         </table>
         <hr>
         <table id="carttotals">
           <tr>
             <td><strong>Items</strong></td>
             <td><strong>Total</strong></td>
           </tr>
           <tr>
             <td>x <span id="itemsquantity">0</span></td>
            
             <td>$<span id="total">0</span></td>
           </tr></table>

           
         <div class="cart-buttons">  
           <button id="emptycart">Empty Cart</button>
           <button id="checkout">Checkout</button>
         </div>
       </div>
</div>




    </div>


{% endblock %}

