{% extends "base.html" %}
{% load static %}

{% block page_header %}
  
{% endblock %}

{% block content %}
    <div class="products-overlay">


   <div class="bag-container"> 
  <h1>Your Order Shopping Cart</h1>
 

       <div class="cart-container">
         <h2>Cart</h2>
         <table>
           <thead>
             <tr>
            {% if cart_items %}
             <th><strong>Product</strong></th>
            {% else %}
            <p class="lead mb-5">Your Cart is currently empty.</p>
                <a href="{% url 'products' %}">
             <th><strong>Price</strong></th>
            </a>
            <span class="text-uppercase">Continue with Ordering</span>
            {% endif %}
           
        </tr>
           </thead>
           <tbody id="carttable">
           </tbody>
         </table>
         <hr>
         <table id="carttotals">
           <tr>
             <td><strong>Items</strong></td>
             <td><strong>Total</strong></td>
           </tr>
           <tr>
             <td>x <span id="itemsquantity">0</span></td>
            
             <td>$<span id="total">0</span></td>
           </tr></table>

           
         <div class="cart-buttons">  
           <button id="emptycart">Empty Cart</button>
           <button id="checkout">Checkout</button>
         </div>
       </div>
</div>




    </div>


{% endblock %}

