{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}



<div class="container">
    <div class="row">
      <div class="col">
        <h1 class="tagline">Order a famous pizza today</h1>
      </div>
    </div>
<div class="container2">
    
    <div class="row">
        <div class="col">
  
        </div>
  
        <div class="container2">
          <a href="" class="btn btn-primary btn-lg">MENU</a>
          <a href="" class="btn btn-primary btn-lg">DEALS</a>
        </div>
  
        <div class="col">
          
        </div>
      </div>
    </div>
</div>
{% endblock %}

