{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}


<div class="container-tagline">
        <h1 class="tagline">Order a famous pizza today</h1>
      </div>


  
        <div class="container2">
          <a href="{% url 'deals' %}" class="btn btn-primary btn-lg">DEALS</a>
          <a href="{% url 'products' %}" class="btn btn-primary btn-lg">MENU</a>
        </div>
      </div>
    </div>
</div>



{% endblock %}

