{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}

    {% for item in order.lineitems.all %}
      <div class="bag-container"> 

  <h1>Your order has been successful</h1>
    <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong></p>
    <h3>ORDER INFO</h3>
    <div class="row">
      <div class="col-order-number">
        <p>{{ order.full_name }}</p>
        <p><strong>Order Number:</strong> {{ order.order_number }}</p></div>
        <br>
        <br>
      <div class="col-order-detail">
        <p><strong>Order Details:</strong> 
          <div class="col-order-detail">
            <p>Item: {{ item.product.name }}{% if item.product_size %} - Size {{ item.product_size|upper }}{% endif %}</p></div>
          <div class="col-order-detail">
        
      
          {% if order.street_address1 %}
          <div class="row">
            <div class="col-12 col-md-4">
                <p class="mb-0 text-black font-weight-bold">Address 1</p>
            </div>
            <div class="col-12 col-md-8 text-md-right">
       </p>
            </div>
        </div>
          {% endif %}

          {% if order.street_address2 %}
          <div class="row">
              <div class="col-12 col-md-4">
                  <p class="mb-0 text-black font-weight-bold">Address 2</p>
              </div>
              <div class="col-12 col-md-8 text-md-right">
                  <p class="mb-0">{{ order.street_address1 }}</p>
              </div>
          </div>
          {% endif %}

          {% if order.county %}
          <div class="row">
              <div class="col-12 col-md-4">
                  <p class="mb-0 text-black font-weight-bold">County</p>
              </div>
              <div class="col-12 col-md-8 text-md-right">
                  <p class="mb-0">{{ order.county }}</p>
              </div>
          </div>
          {% endif %}

          <div class="row">
              <div class="col-12 col-md-4">
                  <p class="mb-0 text-black font-weight-bold">Town or City</p>
              </div>
              <div class="col-12 col-md-8 text-md-right">
                  <p class="mb-0">{{ order.town_or_city }}</p>
              </div>
          </div>

          {% if order.postcode %}
          <div class="row">
              <div class="col-12 col-md-4">
                  <p class="mb-0 text-black font-weight-bold">Postal Code</p>
              </div>
              <div class="col-12 col-md-8 text-md-right">
                  <p class="mb-0">{{ order.postcode }}</p>
              </div>
          </div>
          {% endif %}

          <div class="row">
              <div class="col-12 col-md-4">
                  <p class="mb-0 text-black font-weight-bold">Country</p>
              </div>
              <div class="col-12 col-md-8 text-md-right">
                  <p class="mb-0">{{ order.country }}</p>
              </div>
          </div>

          <div class="row">
              <div class="col-12 col-md-4">
                  <p class="mb-0 text-black font-weight-bold">Phone Number</p>
              </div>
              <div class="col-12 col-md-8 text-md-right">
                  <p class="mb-0">{{ order.phone_number }}</p>
              </div>
          </div>

            </div>
          </div>
        



        </div>


    {% endfor %}
{% endblock %}