html {
    height: 100%;
}

body {
    background: url('/media/main_background_pic.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

.button1 {
    top: 500px;
}

h1 {
    font: 300px;
}