{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="logout-card bg-secondary">
<h1>{% trans "Sign Out" %}</h1>

<h5>{% trans 'Are you sure you want to sign out?' %}</h5>
<br>
<br>
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="logout" type="submit">{% trans 'Sign Out' %}</button>
</form>
</div>


{% endblock %}
