html {
    height: 100%;
}

body {
    background: url('/media/main_background_pic_dark.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.button1 {
    top: 500px;
}

.tagline {
    font-family: 'Comfortaa', cursive;
    font-size: 100px;
    color: white;
    margin: auto;
    text-align: center;
    display: inline-flex;
}

.container {
    margin-top: 80px;
    bottom: 500px;
}

.container2 {
    text-align: center;
    align-items: center;
    padding: 20px;
}

.row {
    border-color: bisque;
    align-items: center;
}

.col {
    text-align: center;
    padding: 40px;
}