html {
    height: 100%;
    background-color: #000;
}

body {
    background: url('/media/main_background_pic_dark.jpg') no-repeat center;
    background-size: cover;
    margin-left: 0;
    height: calc(100vh - 164px);
    color: #555;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
    font-family: 'Comfortaa', cursive;
}

h4 {
    font-family: 'Comfortaa', cursive;
}

p {
    color: white;
}

.button1 {
    top: 500px;
}

.tagline {
    font-family: 'Comfortaa', cursive;
    font-size: 100px;
    color: white;
    margin: auto;
    text-align: center;
    display: inline-flex;
}

.page-title {
    color: antiquewhite;
    text-align: center;
}

.card-body {
    text-align: center;
}

.container2 {
    text-align: center;
    align-items: center;
    padding: 0px;
}

.container-tagline {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.row {
    border-color: bisque;
    align-items: center;
}

.col {
    text-align: center;
    color: white;
}

.product-detail-title {
    font-family: 'Comfortaa', cursive;
    font-size: 80px;
    text-align: left;
    color: white;
    margin: auto;
}

.product-detail-price {
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 35px;
}

.product-container {
    border-style: dashed;
    padding: 50px;
}

.buy-button {
    padding-bottom: 25px;
    padding-top: 10px;
}

.message-container {
    color: white;
    font-size: larger;
}

.footer {
    position:fixed;
    bottom: 0;
    background-color: #555;
    width:max-content;
    height: 100px;
}

.col-left {
    text-align: left;
    color: white;
    font-family: 'Comfortaa', cursive;
}

.col-middle {
    text-align: center;
    color: white;
    font-family: 'Comfortaa', cursive;
}

.col-right {
    text-align: right;
    color: white;
    font-family: 'Comfortaa', cursive;
}

.col-md-4 img {
    width: 100px;
    height: 100px;
}

.product-code {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 75%;
}

.col-md-6 img {
    border-style: dotted;
    color: #fff;
    
}

/*------------------------ Products Page Overlay ------------------------*/

.products-overlay {
    height: 100%;
    width: 100%;
    left: 0;
    background: black;
    z-index: -1;
    padding-top: 50px;
}

.category {
    font-size: 15px;
    padding-top: 5px;
}

.category-box {
    text-align: center;
}

.card-footer {
    border-style: dashed;
    color: green;
}

.card-footer {
    border-style: groove;
    border-color: #E0E4CC;
}

.remove-item {
    cursor: pointer;
}

/*------------- LINKS ACTIONS ----------*/
/* unvisited link */
a:link {
    color: red;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: green;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
/*------------------ DEALS PAGE --------------------------*/

.deals-tagline {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 70px;
}

.container-deals {
    border-style: dashed;
    color: white;
}

.container-row {
    border-style: dotted;
    color: yellow;
}

/*------------- PRODUCT DETAILS PAGE ------------------------------*/

.dropdown {
    font-family: 'Comfortaa', cursive;
  }


/*-------------- Shopping Cart Page ----------------------------*/

.items-table {
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.bag-container {
    max-width: 800px; 
    margin: 1em auto; 
    background:#FFF; 
    padding:30px;
    border-radius:5px;

}
.productcont {
    display: flex; 
}

.product {
    padding:1em; 
    border:1px solid #E0E4CC; 
    margin-right:1em; 
    border-radius:5px;
}

.cart-container {
    border:1px solid #E0E4CC;
    border-radius:5px;
    margin-top:1em;
    padding:1em;
}

button, input[type="submit"] { 
    border:1px solid #FA6900; 
    color:#fff; 
    background: #F38630; 
    padding:0.6em 1em;
    font-size:1em; 
    line-height:1; 
    border-radius: 1.2em;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

button:hover, button:focus, button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
    background: #A7DBD8;
    border-color:#69D2E7;
    color:#000;
    cursor: pointer;
}

table {
    margin-bottom:1em;
    border-collapse:collapse;
}

table td, table th {
    text-align:left;
    padding:0.25em 1em;
    border-bottom:1px solid #E0E4CC;
}

#carttotals {
    margin-right:0;
    margin-left:auto;
}

.cart-buttons {
    width:auto;
    margin-right:0;
    margin-left:auto;
    display:flex;
    justify-content:flex-end;
    padding:1em 0;
}

#emptycart {
    margin-right:1em;
}

table td:nth-last-child(1) {
    text-align:right;
}

.message {
    color:#679996;
    padding:0.5em 0;
    margin:1em 0;
}

/*---------------------- Media Sizing ------------------------*/

@media (min-width: 375px)  {
.tagline {
    font-family: 'Comfortaa', cursive;
    font-size: 80px;
    color: white;
    margin-top: 10px;
    text-align: center;
    }
}

.category {
    font-size: 50px;
    padding-top: 5px;
    }

@media (min-width: 568px)  {
.tagline {
    font-family: 'Comfortaa', cursive;
    font-size: 80px;
    color: white;
    margin-top: 10px;
    text-align: center;
    }
}

@media (min-width: 736px)  {
.tagline {
    font-family: 'Comfortaa', cursive;
    font-size: 80px;
    margin-top: 10px;
    color: white;
    text-align: center;
    }
}

@media (min-width: 992px)  {
.tagline {
    font-family: 'Comfortaa', cursive;
    font-size: 80px;
    color: white;
    margin-top: 10px;
    text-align: center;
    display: inline-flex;
    }
}