
body {
    text-align: center;
}

.leftside, .rightside {
    height:50vh;
    width:100%;
    padding: 50px;
}

.rightside {
    color: white;
}

.fieldset {
    font-family: 'Comfortaa', cursive;
}

.text-box {
    width: 50%;
    text-align: center;
}

.items-table {
    color: white;
}

.cart-container {
    padding: 50px;
}
/*-------------------- MEDIA QUERIES -------*/

@media screen and (min-width: 568px) {
    .leftside, .rightside {
         height:100vh;
    }
}


.leftside {
    background-color: white;
}

.rightside {
    background-color: black;
}

