
body {
    text-align: center;
}

.leftside, .rightside {
    height:50vh;
    width:100%;
}

.text-box {
    width: 50%;
    text-align: center;
}
/*-------------------- MEDIA QUERIES -------*/

@media screen and (min-width: 568px) {
    .leftside, .rightside {
         height:100vh;
    }
}


.leftside {
    background-color: red;
}

.rightside {
    background-color: blue;
}

