
body {
    width: 100%;
    height: auto;
}

h5 {
    color: white;
}

.text-box {
    padding: 5px;
}

.leftside, .rightside {
    height:50vh;
    width:100%;
    padding: 50px;
    text-align:center;
}

.rightside {
    color: white;
}

.fieldset {
    font-family: 'Comfortaa', cursive;
}

.text-box {
    width: 50%;
    text-align: center;
}

.items-table {
    color: white;
}

.cart-container {
    padding: 50px;
}

.fieldset-label {
    position: relative;
}

.form-check {
    text-align: left;
}

/*---------- STRIPE CSS (Stripe.com)------------------*/

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
    width: 50%;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}
/*-------------------- MEDIA QUERIES -------*/

@media screen and (min-width: 568px) {
    .leftside, .rightside {
         height:100vh;
    }
}


.leftside {
    background: url('/media/main_background_pic_dark.jpg') no-repeat center;
    color: white;
}

.rightside {
    background-color: black;
}

