{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
                <h1 class="page-title"></h1>
                {% for c in current_categories %}
                <div class="category-box">
                    <a class="text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                        <button type="button" class="btn btn-secondary btn-lg">{{ c.friendly_name }}</button>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
  
                
        <div class="row-card">
            <div class="product-container col-10 offset-1">
                <div class="row-card">
                <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body">
                                <h2>{{ product.name }}</h2>
                            </div>
                            <div class="card-footer bg-black pt-0 border-0 text-center">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                    
                                    </div>

                                        {% if product.category %}
                                        <a href="{% url 'products' %}?category={{ product.category.name }}">
                                            <i class="fas fa-pizza-slice"></i><br>{{ product.category.friendly_name }}
                                        </a>
                                        {% endif %}
                                        
                                    <div class="buy-button">
                                        <a href="{% url 'product_detail' product.id %}">
                                        <button type="button" class="btn btn-secondary btn-sm">View Details</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    
                {% endfor %}

{% endblock %}